pipeline/getMinifigsRawAPI.json
{
	"name": "getMinifigsRawAPI",
	"properties": {
		"activities": [
			{
				"name": "CopyDataToRaw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetRebrickableAPI_keyFromKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('key ',activity('GetRebrickableAPI_keyFromKV').output.value)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Rebrickable_Minifigs_DS",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Minifigs_JSON_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetRebrickableAPI_keyFromKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://de-kv.vault.azure.net/secrets/Rebrickable-API-Key?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"annotations": []
	}
}