pipeline/getMinifigsRawAPI.json
{
	"name": "getMinifigsRawAPI",
	"properties": {
		"activities": [
			{
				"name": "CopyDataToRaw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetRebrickableAPI_keyFromKV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "api/v3/lego/minifigs/"
					},
					{
						"name": "Destination",
						"value": "de-bronze/Minifigs/API/minifigsAPI.json"
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": {
							"value": "@{pipeline().parameters.ThrottlingTime}",
							"type": "Expression"
						},
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('key ',activity('GetRebrickableAPI_keyFromKV').output.value)",
								"type": "Expression"
							}
						},
						"paginationRules": {
							"AbsoluteUrl": {
								"value": "@pipeline().parameters.PaginationKey",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Rebrickable_Minifigs_DS",
						"type": "DatasetReference",
						"parameters": {
							"URL_Name": {
								"value": "@pipeline().parameters.URL_Param",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Minifigs_JSON_DS",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.URL_Param",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "GetRebrickableAPI_keyFromKV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://de-kv.vault.azure.net/secrets/Rebrickable-API-Key?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"URL_Param": {
				"type": "string"
			},
			"ThrottlingTime": {
				"type": "int",
				"defaultValue": 1200
			},
			"PaginationKey": {
				"type": "string",
				"defaultValue": "next"
			}
		},
		"annotations": []
	}
}